# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Editor-specific files
.vscode/
.idea/

# Output of 'npm pack'
*.tgz
